@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  color: dimgray;
  background-color: cornsilk;
  width: 70rem;
  margin: 0 auto;
  font-size: 1.4rem;
}

.header__site-title, .header__page-title {
  margin: 0;
  padding: 0;
}
.header__site-title {
  padding-top: 2.45rem;
  font-size: 1.75rem;
  text-align: right;
}
.header__page-title {
  /* 内側余白・左下 */
  padding-left: 0.35rem;
  padding-bottom: 0.175rem;
  /* 枠線・左下 */
  border-left: 5px solid seagreen;
  border-bottom: 1px solid seagreen;
}

.footer {
  width: 49rem;
  margin: 0 auto;
  padding: 0.35rem;
}
.footer__copyright {
  border-top: 1px solid dimgray;
  margin: 0.7rem;
  padding: 1.05rem;
  padding-bottom: 3.5rem;
  text-align: center;
}

.list .criteria, .list .result {
  padding: 1.05rem;
}
.list .criteria {
  padding-left: 1.75rem;
}
.list .criteria__form {
  padding: 1.05rem 0;
}
.list .criteria__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.05rem;
}
.list .criteria__select-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 22.4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.list .criteria__select {
  border: none;
  width: 100%;
  padding: 0.798rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.list .criteria__button {
  width: 5.6rem;
  padding: 0.35rem 1.4rem;
}
.list .result__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.75rem;
  border: 1px solid cornsilk;
  margin: 0 0 1.75rem;
  padding: 0.7rem;
  background-color: white;
}
.list .result__item-content {
  margin: 0;
  padding: 0;
}
.list .result__item-name {
  font-weight: bold;
  font-size: 1.75rem;
}

.button {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  color: dimgray;
  background-color: gainsboro;
  border: 1px solid lightgray;
  text-align: center;
  font-size: 1.26rem;
}
.button:hover {
  background-color: white;
  font-weight: bold;
}

.table {
  border-collapse: collapse;
}
.table__heading, .table__cell {
  border: 1px solid green;
  padding: 0.35rem 1.05rem;
}
.table__heading {
  word-break: keep-all;
}
.table--borderless .table__heading, .table--borderless .table__cell {
  border: 0 solid dimgray;
}

.detail {
  padding: 1.05rem 1.05rem 1.05rem 2.8rem;
}
.detail .eatery, .detail .review__list {
  width: 63rem;
  margin: 0 auto;
}
.detail .eatery__detail-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.75rem;
}
.detail .eatery__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 0;
  margin: 0;
}
.detail .eatery__image--body {
  width: 16.8rem;
}
.detail .eatery__contact {
  text-align: right;
}
.detail .review__item {
  border: 1px solid green;
  background-color: white;
  margin-top: 0rem;
  margin-bottom: 1.75rem;
  padding: 0.35rem 1.05rem;
}
.detail .review__item-title {
  font-weight: bold;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
.detail .review__item-reviewer, .detail .review__item-postedAt, .detail .review__item-rating, .detail .review__item-comment {
  margin: 0;
  padding: 0;
}
.detail .review__item-reviewer, .detail .review__item-postedAt {
  display: inline;
  text-align: right;
}
.detail .review__item-postedAt::after {
  content: "：";
}
.detail .review__item-comment {
  margin-top: 0.7rem;
  margin-bottom: 0.175rem;
}
.detail .post__fieldset {
  border: 0;
}
.detail .post__row {
  display: grid;
  grid-template-columns: 5rem 5rem 5rem 5rem 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.detail .post__heading, .detail .post__rating-title {
  color: cornsilk;
  background-color: seagreen;
}
.detail .post__rating-label {
  font-size: 1.4rem;
}
.detail .post__controls {
  width: 63rem;
  margin: 0 auto;
  margin-top: 2.1rem;
  margin-bottom: 1.05rem;
}
.detail .post__controls .table__heading {
  width: 9.8rem;
}
.detail .post__text[name=review] {
  height: 8.4rem;
  width: 47.6rem;
}
.detail .post__action {
  text-align: center;
}
.detail .post__button {
  width: 5.6rem;
  padding: 0.35rem 1.4rem;
}

.auth__table {
  margin: 1.75rem auto;
}
.auth__action {
  text-align: center;
}
.auth__link {
  margin-left: 3.85rem;
}

.review__body-wrapper {
  padding: 0 1.75rem;
}
.review__table {
  border-collapse: collapse;
}
.review__controls {
  margin-top: 1.05rem;
  margin-bottom: 1.75rem;
  text-align: center;
}
.review__button--post {
  background-color: seagreen; /* サブカラー */
  color: #fff;
  border: 1px solid green; /* メインカラー */
}
.review__button--post:hover {
  background-color: green; /* メインカラー */
  border-color: green; /* メインカラー */
}
.review__button--edit {
  background-color: lightgray;
}

.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-underlined {
  text-decoration: underline;
}

.u-text-bold {
  font-weight: bold;
}

.u-text-regular {
  font-weight: normal;
}

.u-text-error {
  color: tomato;
}

.u-text-small {
  font-size: 1.225rem;
}

.u-shadow-sm {
  -webkit-box-shadow: 10px 10px 15px -10px;
          box-shadow: 10px 10px 15px -10px;
}/*# sourceMappingURL=style.css.map */