@charset "utf-8";
@forward "../abstracts/theme";
@use "../abstracts/" as *;

.ul {
  &__text {
    // 左揃え
    &--left {
      text-align: left;
    }
    // 中央揃え
    &--center {
      text-align: center;
    }
    // 右揃え
    &--right {
      text-align: right;
    }
    // 下線
    &--underlined {
      text-decoration: underline;
    }
    // 太文字
    &--bold {
      font-weight: bold;
    }
    // 標準（レギュラーウェイト）
    &--regular {
      font-weight: normal;
    }
  }
  &__error {
    color: $error-color;
  }
}