@charset "utf-8";
@forward "../abstracts/";
@use "../abstracts/" as abstract;

html {
	font-size: abstract.$default-font-scale;
}

body {
	color: abstract.$default-fore-color;
	background-color: abstract.$accent-color;
	font-size: abstract.$default-font-size;
}
