@charset "utf-8";

/* デフォルトのフォントスケールとフォントサイズ */
$default-font-scale: 62.5%;
$default-font-size: 1.4rem;

/* 見出しのフォントケール */
$h1_font-scale: 1.8;
$h2-font-scale: 1.5;
$h3-font-scale: 1.25%;

/* 見出しのフォントサイズ */
$h1-font-size: $default-font-size * $h1-font-scale;
$h2-font-size: $default-font-size * $h2-font-scale;
$h3-font-size: $default-font-size * $h3-font-scale;

/* スペースのスケールサイズ */
$single-white-space-scale: 0.5;
$double-white-space-scale: 1.0;

$single-white-space: $default-font-size * $single-white-space-scale;
$double-white-space: $default-font-size * $double-white-space-scale;
