@charset "utf-8";

.ul {
  &__text {
    &--left {
      text-align: left;
    }
    &--center {
      text-align: center;
    }
    &--right {
      text-align: right;
    }
  }
  &__error {
    color: tomato;
  }
}